.tag-container:hover{
    transform: scale(1.1);
    transition: 300ms;

    p {
        color: #f2f2f2;
        transition: 300ms;
    }
}
.tag-container:not(:hover){
    transform: scale(1);
    transition: 300ms;
}
@media (max-width: 450px){
    .tag-container{
        display: none;
    }
}