h2 {
    background: radial-gradient(
        circle at 100%,
        #fda8f2,
        #f978dd 50%,
        #fec7f9 75%,
        #fd8de5 75%
    );
    font-weight: 600;
    background-size: 200% auto;
    color: #000;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animatedTextGradient 1.5s linear infinite;
}

@keyframes animatedTextGradient {
to {
background-position: 200% center;
}
}
@media (max-width: 450px) {
    .textHero-container {
        h1 {
            font-size: 3rem;
        }
        h2 {
            font-size: 2rem;
        }
        p {
            font-size: 1rem;
        }
    }
}